<%= form_for @event, :html => {:class => "form-horizontal event", :multipart => true } do |f| %>

    <% if @event.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @event.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'form-control' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :datetime, :class => 'control-label' %>
      <div class="controls">
        <%= f.datetime_select :datetime, :class => 'form-control' %>
      </div>
    </div>

        <%= f.file_field :image %>


    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>
    </div>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>



<% end %>
