<%- model_class = Event -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to 'Upcoming', "#{events_path}", class: "btn btn-default" %>
<%= link_to 'On Floor', "#{events_path}?filter=onfloor", class: "btn btn-default" %>
<%= link_to 'Off Floor', "#{events_path}?filter=offfloor", class: "btn btn-default" %>

<hr>

<div style="overflow: hidden">
  <% if @events != nil %>
      <% @events.each do |event| %>
          <%= link_to (event_path(event)) do %>
              <div class="line" style="background: url(<%= event.image.url(:thumb) %>)">
                <h2><%= event.name %></h2>
                <p class="description"></p>
                <div class='meta'>
                  <div class="col-md-4"><%= event.datetime.strftime('%A, %b %d, %Y') %></div>
                  <div class="col-md-6"><%= event.category.name.capitalize %></div>
                  <div class="col-md-2"><%= event.users.count %> Attending</div>
                </div>
              </div>
          <% end %>
      <% end %>
  <% else %>
    nothing found
  <% end %>
</div>

<%= will_paginate @posts %>
