<%- model_class = Event -%>

<div class="headerImage" style="background: url(<%= @event.image.url %>) no-repeat 0 0 fixed;" data-stellar-background-ratio="0.5">

</div>
<div class="card">

  <h1><%= @event.name.capitalize %></h1>

  <hr/>

  <p class="time">

    <%= @event.datetime.strftime('%A, %b %d, %Y') %> | <%= @event.users.count %> Currently Attending&nbsp;&nbsp;&nbsp;&nbsp;<%= sign_up_button(@event) %>
  </p>

  <p><%= @event.description %></p>

  <% if @event.user %>
    <p>Created by <%= @event.user.email %></p>
  <% end %>
  <% if @event.users.count > 0 %>
      <hr/>
      <% @event.users.each do |user| %>
          <p class="users"><%= user.email %></p>
      <% end %>
  <% end %>


  <hr/>


  <%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default' %>

  <% if is_op_or_admin?(@event) %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_event_path(@event), :class => 'btn btn-default' %><br/><br/>
      <%= button_to 'Delete', event_path(@event), :method => 'delete', :class => 'btn btn-danger' %>
  <% end %>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>