
<h3>My Upcoming Events</h3>
<hr>
<%= month_calendar table: {class: "calendar table table-bordered"}, events: @events do |date, event| %>
    <%= date %>

    <% event.each do |event| %>
        <div>
          <%= link_to event.name, event_path(event) %><br/>

          <div class="smalldate"><%= event.datetime.strftime('%I:%M%p') %></div>
        </div>
    <% end %>
<% end %>

<br/>
<br/>
<br/>

<% if @myEvents.count > 0 %>
    <h3>My Created Events</h3>
    <hr>
    <table style="width: 100%" class="table table-bordered">
      <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Date and Time
        </th>
        <th>
          Users Signed Up
        </th>
        <th>
          Your Status
        </th>
      </tr>
      </thead>
      <% @myEvents.each do |event| %>
          <tr>
            <td>
              <%= link_to event.name, event_path(event) %>
            </td>
            <td>
              <%= event.datetime.strftime('%A, %b %d, %Y at %I:%M%p') %>
            </td>
            <td>
              <%= event.users.count %>
            </td>
            <td>
              <%= is_signed_up?(event) ? "Signed Up" : "Not Signed Up" %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>

   <br/>
   <br/>
   <br/>
   <br/>