h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

p{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 2.7;
    text-align: justify;
}

p.time{
    font-style: italic;
    color: grey;
    text-align: right;
    margin-bottom: 32px;
}

p.users{
    color: grey;
    margin-bottom: 32px;
    font-family: 'Roboto', sans-serif;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

hr{
    margin-top: 32px;
}

h1{
    font-size: 72px;
}


.eventbox{
    background: white;
    padding: 24px;
    overflow: hidden;
    margin-bottom: 36px;
    height: 200px;
}

.event{
    background: white;
    padding: 24px;
    overflow: hidden;
}

h2{
    margin: 0;
}

.half{
    width: 48%;
}

p.count{
    text-align: right;
}

.headerImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
}

.card{
    background: #fcfcfc;
    z-index: 100;
    padding: 32px 64px;
    position: relative;
    top: 300px;
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.line{
    width: 100%;
    height: 250px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    position: relative;
    margin-bottom: 16px;

}

h2{
    /*background: rgba(255,255,255,0.8);*/
    padding: 48px 48px;
    /*color: #2E2F30;*/
    color: #fcfcfc;
    position: relative;
    font-size: 48px;
    text-align: center;
    text-decoration: none;
}

a.title{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 24px;
    float: left;
    color: #2E2F30;
}

header{
    padding: 16px 48px;
    background: rgba(255,255,255,0.8);
    text-align: right;
}

h2:hover{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

.date{
    background: #fcfcfc;
    padding: 18px 48px;
    color: #2E2F30;
}

.meta{
    background: rgba(255,255,255,0.8);
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding: 24px 32px;
    position: absolute;
    bottom: 0;
    color: #2E2F30;
}

.btn.title{
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;
}

table.calendar{
    overflow:hidden;
    table-layout:fixed;
}

table.calendar td{
    height: 130px;
}

.day{
    color: grey;
}

.day.prev-month, .day.next-month{
    background: lightgrey;
    color: grey;
}

.day.prev-month a, .day.next-month a{
    color: grey;
}

.day.today{
    background: #337AB7;
    color: #fcfcfc;
}

.day.has-events{
    background: rgba(51, 122, 183, 0.1);
}

.smalldate{
    font-size: 10px;
}

.delolete{

}