<p>Yo, <%= @email %>!  Thanks for signing up.  To prevent weird old men from signing up, you need to confirm your email before using your account.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
