<!DOCTYPE html>
<html>
<head>
  <title>Shiftyspace</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,100' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%#= current_user.email %>
<% if user_signed_in? %>
    <header>

      <%= link_to 'Shifty Space', root_path, class: 'title' %>
      <%= link_to current_user.email, pages_dashboard_path,
                  :class => 'btn btn-default' %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete,
                  :class => 'btn btn-default' %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_event_path,
                  :class => 'btn btn-primary' %>
    </header>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
